body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.fullApp {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.non-side {
  flex: 1;
  margin-left: 300px;
  padding-bottom: 20px;
  border: 2px dashed blue;
}

.sideBar {
  position: sticky;
  right: 200px;
}

.app-side {
  position: fixed;
  top: 0px;
  
}